<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-11-15T01:20:15Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Paulina/Desktop/OtherLessons/SEB/1_try/API_Transactions/API_Transactions.xcodeproj</string>
</dict>
</plist>
